body{
    background-color: #002638;
}

.cabeca {
    background-color: rgb(28, 61, 61);
    height: 150px;
    color: white;
}

header.cabecalho {
    text-align: center;
    background-color: #002638;
}

#foto{ 
    text-align: center;
    background-color: #002638;
    margin-top: 150px;
}

#cabecalho-fixo{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Garante que o cabeçalho esteja na parte superior */
    background-color: rgb(28, 61, 61);
    height: 150px;
    color: white;
}

#itens_cabeca{
    color: white;
    transition: font-size 300ms ease-in-out;
}
#itens_cabeca:hover {
    transition: font-size 300ms ease-in-out, text-decoration 300ms ease-in-out;
    font-size: 23px;
    text-decoration: underline;
}




#text{
    color: white;
}
.sem-sublinhado:hover {
    text-decoration: none; /* Remove o sublinhado apenas dos links com a classe "sem-sublinhado" */
}



#img{
    height: 50px;
    width: 170px;
    /* margin-left: 500px; */
}

#parag1{
    /* margin-left: 400px; */
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: font-size 300ms ease-in-out;
}
#parag1:hover{
    transition: font-size 300ms ease-in-out;
    font-size: 20px;
}

#parag{
    /* margin-left: 200px; */
    display: flex;
    text-decoration: none;
    color: white;
    transition: font-size 300ms ease-in-out;
    font-size: 16px;
}
#parag:hover{
    transition: font-size 300ms ease-in-out;
    font-size: 20px;
}


/* #fotoINFO{
    height: 850px;
    width: 2543px;
} */


*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {

    margin: 0;
    background: none ;
    border: none ;
    color: inherit ;
    font: inherit;
    cursor: default ;
    padding: 0 ;
    user-select: none ; 
    transition: none ;
    box-shadow: none ;
    outline: none !important;
    text-decoration: none ;


}
.botao-participante {
    margin:0;
    border-bottom: 2px solid transparent;
    transition: border 0.6s, font-size 300ms ease-in-out; /* Adicione ambas as transições aqui */
    padding: 10px 20px;
    font-size: 17px;
}



.botao-participante:hover {
    font-size: 20px;
    cursor: pointer;
}

.botao-participante.clicado {
    margin: 0;
    border-bottom-color: black;
}


.eventos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}


.eventos-itens {
    margin: 0;
    color: black;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.eventos a{
    margin: 0;
    text-decoration: none; 
    color: inherit;
    min-height: 12rem;
    display: inline-block; 
    transform: scale(1); 
    border-radius: 20px;
    transition: transform 0.3s; 
}
.eventos a:hover {
    text-decoration: none; 
    color: inherit;
    transform: scale(1.1); 
}

.eventos-itens img{
    width: 50px;
    margin: 0;
}


.titulo-eventos{
    background-color: #1C3D3D;
    margin: 0;
    color: white;
}

.eventos-encima {
    margin-bottom: 50px;
    margin-top: 50px;
}


.teste {
    margin: 0 auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}



.fotos img{
    width: 150px;
    margin-top: 50px;

}

.parceiros{
    margin: 0 auto;
}

.tituloP{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 30px;
}

/* Estilos para telas pequenas (por exemplo, telas menores que 576px de largura) */
@media (max-width: 576px) {
    .eventos-itens {
        width: 100%; /* Ocupa toda a largura da tela */
        margin: 0 0 20px 0; /* Adiciona espaçamento inferior e remove margem direita */
    }
}

/* Estilos para telas médias (por exemplo, telas entre 577px e 992px de largura) */
@media (min-width: 577px) and (max-width: 992px) {
    .eventos-itens {
        width: 50%; /* Ocupa metade da largura da tela */
        margin: 0 0 20px 0; /* Adiciona espaçamento inferior e remove margem direita */
    }
}

/* Estilos para telas grandes (por exemplo, telas maiores que 992px de largura) */
@media (min-width: 993px) {
    .eventos-itens {
        width: 250px; /* Restaura a largura original */
        margin: 0 20px 20px 0; /* Adiciona espaçamento inferior e margem direita */
    }
}


